<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NOL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>Autentificador</display-name>
    <filter-name>Autentificador</filter-name>
    <filter-class>Autentificador</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Autentificador</filter-name>
    <servlet-name>LoginAlumno</servlet-name>
    <servlet-name>LoginProf</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAlumno</display-name>
    <servlet-name>LoginAlumno</servlet-name>
    <servlet-class>LoginAlumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAlumno</servlet-name>
    <url-pattern>/LoginAlumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginProf</display-name>
    <servlet-name>LoginProf</servlet-name>
    <servlet-class>LoginProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProf</servlet-name>
    <url-pattern>/LoginProf</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>DEWAlu</web-resource-name>
      <url-pattern>/LoginAlumno</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>rolalu</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>DEWProf</web-resource-name>
      <url-pattern>/LoginProf</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>rolpro</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Tienes que ser alumno de la UPV</realm-name>
  </login-config>
  <error-page>
    <error-code>401</error-code>
    <location>/index.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Detalles</display-name>
    <servlet-name>Detalles</servlet-name>
    <servlet-class>Detalles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Detalles</servlet-name>
    <url-pattern>/Detalles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Foto</display-name>
    <servlet-name>Foto</servlet-name>
    <servlet-class>Foto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Foto</servlet-name>
    <url-pattern>/Foto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Expediente</display-name>
    <servlet-name>Expediente</servlet-name>
    <servlet-class>Expediente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Expediente</servlet-name>
    <url-pattern>/Expediente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaAlumnos</display-name>
    <servlet-name>ListaAlumnos</servlet-name>
    <servlet-class>ListaAlumnos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaAlumnos</servlet-name>
    <url-pattern>/ListaAlumnos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificacionNotas</display-name>
    <servlet-name>ModificacionNotas</servlet-name>
    <servlet-class>ModificacionNotas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificacionNotas</servlet-name>
    <url-pattern>/ModificacionNotas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>